
body {
  background: url(https://images.unsplash.com/photo-1509029392939-806894b89ca4?auto=format&fit=crop&w=1049&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  color: white;
}

html {
  height: 100%;
}

#jbtrn {
  padding-top: 4%;
  color: white;
}
